#Menu ul {
    list-style:none;
    margin:0;
    padding:0;
   }

  #Menu ul li {
    background-color:#81a9eb;
   }
#Menu ul a {
    display:block;
    color:#fff;
    text-decoration:none;
    font-weight:400;
    font-size:15px;
    padding:10px;
    font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform:uppercase;
    letter-spacing:1px;
   }

   #Menu ul li {
    position:relative;
    float:left;
    margin:0;
    padding:0;
   }
   
   #Menu ul li:hover {
    background:#5b78a7;
   }

#Menu ul ul {
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:#eee;
    padding:0;
   }
/* items del Menu desplegable */
#Menu ul ul li {
    float:none;
    width:150px
   }
   
   /* enlaces de los items del Menu desplegable */
   
   #Menu ul ul a {
    line-height:120%;
    padding:10px 15px;
   }
   
   /* items del Menu desplegable al pasar el ratón */
   
   #Menu ul li:hover > ul {
    display:block;
   }


able {
   width: 100%;
   border: 1px solid #000;
}
th, td {
   width: 22%;
   text-align: left;
   vertical-align: top;
   border: 1px solid #000;
   border-collapse: collapse;
   padding: 0.3em;
   caption-side: bottom;
}
caption {
   padding: 0.3em;
   color: #fff;
    background: #000;
}
th {
   background: rgb(77, 53, 187);
}
td {
   background: rgb(110, 129, 153);
}